body {
  font-family: Courier New, monospace;
}
.content {
  margin: 3em auto;
  max-width: 500px;
}
.notebook-page {
  padding: 90px 40px 40px 85px;
  background-color: #fff;
  background-image: linear-gradient(rgba(33, 150, 243, 0.27) 0.05em, transparent 0.05em);
  background-size: 100% 2em;
  position: relative;
  min-height: 200px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
}
.notebook-page:after {
  content: "";
  position: absolute;
  left: 10%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ef5350;
}
.notebook-page .text-edit {
  display: none;
}
textarea#msg {
  background: none;
  border: none;
  color: #111;
  font-size: 24px;
  min-height: 450px;
  resize: none;
  line-height: 1.25;
}