div {
    background-color: white;
    width: 400px;
    padding: 30px;
    /*margin-left:auto;
    margin-right:auto;
    margin-top:130px; */
    margin: 150px auto;
      /*      상하  좌우
    margin: 130px auto 130px;
            상    좌우  하
    margin: 130px auto 130px auto;
            상    우    하    좌 */
    border: 10px orange solid;
    border-radius: 30px;
}
h1 {
    color: orange;
    width: 120px;
    margin: 20px auto;
    border-bottom: 5px orange solid;
}
ul {
    width: 100px;
    margin: 0 auto;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    color: orange;
}