  body {
    background-color: tomato;
  }

  .wrapper {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    margin: 150px auto;
    border: 5px black solid;
  }

.wrapper div {
  background-color: teal;
  width: 100px;
  height: 100px;
  border: 3px white solid;
  margin: 50px auto;
}

.wrapper div.second {
  width: 400px;
  border: 3px white dashed;
}