body {
  background-attachment: fixed;
  height: 100vh;
  background-image: url(./image/halloween-background.gif);
  background-repeat: no-repeat;
  background-size : cover;
  background-color: #666;
}
/*div { text-align: center; }*/

h1, h2, ul, p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  background-color: #ddd;
  width: 800px;
  margin: 50px auto;
}

.header {
  background-image: url(./image/halloween-header-bg.png);
  color: white;
  height: 400px;
  text-align: center;
}

.header .profile {
  margin-top: 50px;
}

.header h1{
  color: violet;
  margin: 10px;
}

.header p {
  width: 400px;
  background-color: black;
  color: #888;
  margin: 0 auto;
  padding: 2px;
  border-radius: 5px;
}

.section {
  background-image: url(./image/icon-information.png);
  background-repeat: no-repeat;
  background-position: right 30px center;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.section.skills {
  background-image: url(./image/icon-skills.png);
}

.section h2 {
  color: orangered;
  margin-bottom: 20px;
}

.section li {
  padding: 10px 50px 10px;
  background-image: url(./image/icon-jack2.png);
  background-repeat: no-repeat;
}

.section li:hover {
  color: orangered;
  background-image: url(./image/icon-jack.png);
}

.footer {
  background-color: black;
  color: violet;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 5px;
  text-indent: 5px;
}