*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;      /* 목록에 점 없애기 기능*/
  text-decoration: none; /* 색이랑 및줄 없애기 */
  /* border-collapse: collapse;   떨어져 있는 선들 합치기 */
  margin: 0px;
  padding: 0px;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 100px;
}

.contents1 {
  font-size: 20px;
  font-weight: lighter;
}


.contents3 {
  font-size: 12px;
  font-weight: 100;
}

.result {
  font-size: 24px;
}

.contents_bold {
  font-size: 18px;
  font-weight: bold;
}
/* -------------- */

.intro_bg {
  background-image: url("./images/intro.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 718px;
}

.header {
  display: flex;   /* 가로로 배치 */
  width: 1280px;
  margin: auto;    /* 가운데로 */
  height: 86px;
  
}

.search_area {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
}

.search_area > form > input {
  border: none;
  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  padding-left: 10px;
}
.search_area > form > span {
  width: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;    /* 끝으로 옮기기 */
  line-height: 86px;
  width: calc(1280px - 300px);
}

.nav > li {
  margin-left: 84px;
}

.nav > li > a {
  color: #fff;
}

.intro_text {  
  width: 100%;
  margin: 231px auto 231px auto;  /* 글자 세로 가운데로 옮기기 -> 231px 차이가 남 (상-우-좌-하)*/
  text-align: center;  /* 글자 가로 가운데로 옮기기 */
}

.intro_text > h1,
.intro_text > h4 {
  color: #fff;
}

.amount {
  position: relative;
  top: -66px;   /* 132/2 */
  display: flex;
  width: 1280px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  /* 그림자 좌우(+,-)상하-흐려짐*/
  margin: auto;   /* 가운데 정렬 */
}
.amount > li {
  flex: 1;
  height: 132px;
}
.amount > li > div {
  text-align: center;
  margin-top: 37px;  /* 가운데 옴 */
  height: 57px;
}
.amount > li:not(:last-child) > div {  /* 마지막 줄 제외하고 gray 줄 넣기 */
  border-right: 1px solid #E1E1E1;
}
  /* main_text0 */

.main_text0 {
  width: 100%;
  height: 601px;
  margin-top: -132px;
  background: #f1f2f3;
}

.main_text0 > h1 {
  padding-top: 116px;
  text-align: center;
}

.main_text0 > .contents1 {
  text-align: center;
}

.icons {
  display: flex;  /* 세분할 하기 위해 */
  width: 1280px;
  height: 302px;
  margin: auto;   /* 오른쪽으로 밀어줌 */
}

.icons > li {
  flex: 1;
  background-color: white;
  margin-top: 49px;
  height: 302px;
  text-align: center;
}

.icons > li > .icon_img {
  margin-top: 36px;
}

.icons > li:not(:last-child) {
  margin-right: 20px;
}

.icons .contents2 {
  width: 270px;
  margin: 10px auto;
  letter-spacing: -1px;
}

.more {
  width: 100px;
  height: 30px;
  background-color: #2f7af4;
  color: #fff;
  margin: 25px auto;
  font-size: 12x;
  line-height: 30px;
}